<% if current_student.id == @student.id %>
<h1>Edit Profile</h1>
<%= form_for :student, url: student_path, method: :patch do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :nickname %><br>
    <%= f.text_area :nickname %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', students_path %>
<% else %>
<h3>You do not have permission to edit another person's profile.</h3>
<% end %>