<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>
<h1>Students</h1>
<%= link_to "Sign up", new_student_path %>
<% if current_student %>
  <h3>Welcome, </h3><%= current_student.name %>
<br/>
<br/>
<%= link_to "Sign out", session_path(session), method: :delete, data: { confirm: 'Are you sure you want to sign out?' } %>
<% else %>
  <%= link_to "Sign in", new_session_path %>
<% end %>
<br/>
<%= link_to "View All Attendances", attendances_path %>
<h2>Search for Attendances</h2>
<%= form_tag students_path, :method => 'get' do %>

  <p>
    <%= label_tag :attended_on %>
    <%= date_field_tag :attended_on, params[:attended_on] %>
  </p>
  <p>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<% if params[:attended_on] == nil %>
  <% @displayDate = Date.today %>
<% else %>
  <% @displayDate = params[:attended_on] %>
<% end %>

 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Status', 'Number of Students'],
          ['Present',     <%= Student.present(@displayDate).distinct.count %>],
          ['Absent',      <%= Student.absent(@displayDate).distinct.count %>]
        ]);
           
        var options = {
          title: 'Attendances'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
<div id="piechart" style="width: 900px; height: 500px;"></div>
<table>
 <tr>
    <% @seatOne = Student.in_seat(1, @displayDate) %>
      <% @seatOne.each do |student1| %>
        <td><strong>Seat 1</strong><br/>
        <%= image_tag(student1.gravatar_url :default => student1.image_url) %><br/>
        <%= student1.nickname %></td>
        <% end %>
    <% @seatThree = Student.in_seat(3, @displayDate) %>
      <% @seatThree.each do |student3| %>
        <td><strong>Seat 3</strong><br/>
        <%= image_tag(student3.gravatar_url :default => student3.image_url) %><br/>
        <%= student3.nickname %></td>
        <% end %>
      </tr>
      <tr>
    <% @seatTwo = Student.in_seat(2, @displayDate) %>
      <% @seatTwo.each do |student2| %>
        <td><strong>Seat 2</strong><br/>
        <%= image_tag(student2.gravatar_url :default => student2.image_url) %><br/>
        <%= student2.nickname %></td>
        <% end %>
        <% @seatFour = Student.in_seat(4, @displayDate) %>
          <% @seatFour.each do |student4| %>
            <td><strong>Seat 4</strong><br/>
        <%= image_tag(student4.gravatar_url :default => student4.image_url) %><br/>
        <%= student1.nickname %></td>
        <% end %>
      </tr>
    </table>

    <table>
       <tr><h1>Absent:</h1></tr>
      <% Student.absent(@displayDate).distinct.each do |student| %>
          <tr><td><strong>Name:</strong></td><td><%= student.name %></td></tr>
      <tr><td><strong>Nickname:</strong></td><td><%= student.nickname %></td></tr>
      <tr><td><strong>Email:</strong></td><td><%= student.email %></td></tr>
      <tr><td><%= image_tag(student.gravatar_url :default => student.image_url) %></td></tr>
  <% if current_student && current_student.id == student.id %>
    <%= link_to "Edit Profile ", edit_student_path(student) %>
  <br/>
    <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br/>
    <%= link_to 'I\'m Here!', new_attendance_path(student) %>
  <br/> 
  <% end %>
<% end %>
</table>
