<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>
<h1>Students</h1>
<%= link_to "Sign up", new_student_path %>
<% if current_student %>
  <h3>Welcome, </h3><%= current_student.name %>
<br/>
<br/>
<%= link_to "Sign out", session_path(session), method: :delete, data: { confirm: 'Are you sure you want to sign out?' } %>
<% else %>
  <%= link_to "Sign in", new_session_path %>
<% end %>
<br/>
<table>
 <tr>
<% @seatOne = Student.in_seat(1, Date.today) %>
  <% @seatOne.each do |student1| %>
    <td><strong>Seat 1</strong><br/>
    <%= image_tag(student1.gravatar_url :default => student1.image_url) %><br/>
    <%= student1.nickname %></td>
    <% end %>
<% @seatThree = Student.in_seat(3, Date.today) %>
  <% @seatThree.each do |student3| %>
    <td><strong>Seat 3</strong><br/>
    <%= image_tag(student3.gravatar_url :default => student3.image_url) %><br/>
    <%= student3.nickname %></td>
    <% end %>
  </tr>
  <tr>
<% @seatTwo = Student.in_seat(2, Date.today) %>
  <% @seatTwo.each do |student2| %>
    <td><strong>Seat 2</strong><br/>
    <%= image_tag(student2.gravatar_url :default => student2.image_url) %><br/>
    <%= student2.nickname %></td>
    <% end %>
<% @seatFour = Student.in_seat(4, Date.today) %>
  <% @seatFour.each do |student4| %>
    <td><strong>Seat 4</strong><br/>
    <%= image_tag(student4.gravatar_url :default => student4.image_url) %><br/>
    <%= student1.nickname %></td>
    <% end %>
  </tr>
</table>
<table>
   <tr><h1>Absent:</h1></tr>
<% Student.absent(Date.today).each do |student| %>
  <tr><td><strong>Name:</strong></td><td><%= student.name %></td></tr>
  <tr><td><strong>Nickname:</strong></td><td><%= student.nickname %></td></tr>
  <tr><td><strong>Email:</strong></td><td><%= student.email %></td></tr>
  <tr><td><%= image_tag(student.gravatar_url :default => student.image_url) %></td></tr>
  <% if current_student && current_student.id == student.id %>
    <%= link_to "Edit Profile ", edit_student_path(student) %>
  <br/>
    <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br/>
    <%= link_to 'I\'m Here!', new_attendance_path(student) %>
  <br/>
  <% end %>
<% end %>
</table>
