<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>
<h1>Log Your Attendance!</h1>
<%= form_tag attendances_path do |f| %>

  <p>
    <%= label_tag :seat %>
    <%= number_field_tag :seat %>
  </p>
  <p>
    <%= submit_tag "Submit" %>
  </p>
<% end %>
<%= link_to 'Back', students_path %>